.section1_text1 {
    display: block;
    padding-top: 80px;
    width: 600px;
    line-height: 1.2;
    color: white;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
}

.section1 {
    width: 100%;
    height: 680px;
    margin: 0px;
    background-image: url(https://live-sgacms.ws.asu.edu/sites/default/files/2023-02/SGA_Homepage_Redesign_Hero_Jan2023_1.jpg);
    background-size: auto;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.section1_part2{
    width: 1300px;
    height: 420px;
    padding: 0px 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.section1_part2_div {
    margin-top: 120px;
    background-color: white;
    background-image: url(https://live-sgacms.ws.asu.edu/sites/default/files/2023-02/Pursuit%20of%20Good_1.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    width: 240px;
    height: 260px;
    border-radius: 10px;
}
.section1_part2_div:hover {

}
/*----------------------------------------------------- Navbar CSS Code Starts ----------------------------------------------------- */

.navcontainer2 {
    background-color: white;
    height: 84px;
    padding-top: 10px;
    padding-left: 160px;
    padding-right: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(229, 221, 221);
}

.nav2dropsection{
    width: 620px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.nav2dropsection>div>select{
    font-size: 16px !important;
    background-color: white;
    width: 140px;
}

.nav2buttonsection{
    width: 240px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navcontainer2 > div > select {
    font-size: 12px;
    background-color: white;
}
.navbutton1{
    width: 110px;
    height: 50px;
    border-radius: 30px;
    font-size: 16pxccccccccccccccc;
}
.navbutton2{
    width: 110px;
    height: 50px;
    border-radius: 30px;
    color: white;
    background-color: black;
}


.navcontainer1 {
    background-color: #e8e8e8;
    height: 46px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #191919;
    font-weight: 300;
}

.locdropdown {
    background-color: #e8e8e8;
    height: 25px;
    width: 140px;
    border-bottom: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 1px solid black;
}
.langdropdown {
    background-color: #e8e8e8;
    height: 25px;
    width: 140px;
    border-bottom: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.rightflex {
    /* border: 1px solid red; */
    margin-left: 140px;
    width: 270px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
}

/*----------------------------------------------------- Navbar CSS Code Ends ------------------------------------------------------ */

/*----------------------------------------------------- Featured Courses Starts --------------------------------------------------- */
.featuredCourse {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 180px;
    padding-right: 180px;
    margin-top: 50px;
}
.fcHeading {
    margin-top: 100px;
    font-size: 60px;
    font-weight: 400;
    color: green;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.featuredCourse1, .featuredCourse2, .featuredCourse3 {
    height: 900px;
    border: 1px solid rgb(229, 221, 221);
    border-radius: 5px;
}
.featuredCourse1 {
    z-index: 100;
    width: 31%;
}
.featuredCourse1>div {
    padding: 30px;
}
.featuredCourse2 {
    z-index: 100;
    width: 31%;
}
.featuredCourse2>div {
    padding: 30px;
}
.featuredCourse3 {
    z-index: 100;
    width: 31%;
}
.featuredCourse3>div {
    padding: 30px;
}

.fc_course_button>button {
    font-weight: 700;
    color: #191919;
    text-align: center;
    background-color: transparent;
    border: 1px solid 191919;
    padding: 8px 24px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5rem;
    padding-left: 24px !important;
    padding-right: 24px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}
.fc_course_name {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}
.fc_course_desc {
    display: block;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    text-align: justify;
}
.fc_course_duration, .fc_course_start {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    text-align: justify;
}
.allcoursesbutton {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.allcoursesbutton>button {
    color: white;
    background-color: green;
    font-weight: 700;
    text-align: center;
    border: 1px solid 191919;
    padding: 8px 24px;
    font-size: 1.15rem;
    border-radius: 5rem;
    padding-left: 18px !important;
    padding-right: 18px !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}
.featuredCourse1:hover {
    box-shadow: 10px 10px 5px rgb(184, 177, 177);
}
.featuredCourse2:hover {
    box-shadow: 10px 10px 5px rgb(184, 177, 177);
}
.featuredCourse3:hover {
    box-shadow: 10px 10px 5px rgb(184, 177, 177);
}
/*-------------------------------------------------------- Featured Courses Ends -------------------------------------------------------- */


/*------------------------------------------------------------ About Starts -------------------------------------------------------------*/

.aboutmain {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 160px;
    margin-bottom: 160px;
}
.aboutLeft {
    width: 42%;
    border: 1px solid black;
    font-family: stb-regular;
    border-radius: 25px;
    padding: 36px 56px;
}
.aboutLeft>h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
}
.aboutLeft>p {
    line-height: 36px;
    font-size: 16px;
}
.aboutRight {
    width: 45%;
    padding: 5px;
    text-align: center;
}
.aboutRight>h2 {
    margin: 0px;
    font-size: 26px;
    color: green;
    font-weight: 500;
}
.aboutRight>h3 {
    font-size: 22px;
    font-weight: 400;
}
.aboutRight>img {
    margin-top: 20px;
    width: 95%;
}
/*--------------------------------------------------------- About Ends ------------------------------------------------------------*/

/* Policy Starts */

.policy {
    background-color: #f5f5f5;
    padding-top: 50px;
    padding-bottom: 70px;
    padding-left: 210px;
    padding-right: 210px;
}
.policy>p {
    font-size: 12px;
}

/*------------------------------------------------------------ Policy Ends ------------------------------------------------------------*/

/*------------------------------------------------------------ Footer Starts ------------------------------------------------------------*/

.footer_div1 {
    background-color: #e8e8e8 !important;
    width: 100%;
    padding-left: 190px;
    padding-right: 190px;
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer_div1>div {
    width: 270px;
    display: flex;
    justify-content: space-between;
}
.footer_div1_img1{
    width: 80%;
}
.footer_div1_img2,.footer_div1_img3{
    width: 124px;
    height: 37px;
}

.footer_div2 {
    background-color: #e8e8e8 !important;
    width: 100%;
    padding-left: 170px;
    padding-right: 200px;
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer_div2>div>div {
    margin-bottom: 20px;
}
.footer_table_th {
    font-size: 20px;
    font-family: Roboto !important;
    font-weight: 700;
}
.footer_table_th>div {
    font-size: 19px;
    font-family: Roboto !important;
    font-weight: 500;
}

.footer_div3 {
    background-color: black;
    color: white;
    width: 100%;
    height: 60px;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 20px;
}
.footer_div3>span {
    margin-left: 25px;
    font-size: 17px;
    font-family: Roboto !important;
    font-weight: 500;
}

/*------------------------------------------------------------ Footer Ends ------------------------------------------------------------*/
